src/market-data-core/db/symbols/AUDUSD.db-shm
src/market-data-core/db/symbols/AUDUSD.db-wal
src/market-data-core/db/symbols/BTCUSD.db
src/market-data-core/db/symbols/BTCUSD.db-shm
src/market-data-core/db/symbols/BTCUSD.db-wal
src/market-data-core/db/symbols/ETHUSD.db
src/market-data-core/db/symbols/ETHUSD.db-shm
src/market-data-core/db/symbols/ETHUSD.db-wal
src/market-data-core/db/symbols/EURUSD.db-shm
src/market-data-core/db/symbols/EURUSD.db-wal
src/market-data-core/db/symbols/GBPUSD.db-shm
src/market-data-core/db/symbols/GBPUSD.db-wal
src/market-data-core/db/symbols/LTCUSD.db
src/market-data-core/db/symbols/LTCUSD.db-shm
src/market-data-core/db/symbols/LTCUSD.db-wal
src/market-data-core/db/symbols/NZDUSD.db-shm
src/market-data-core/db/symbols/NZDUSD.db-wal
src/market-data-core/logs/console-parallel.log
