@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* Light Mode Defaults */
  --background: #f8fafc;
  /* slate-50 */
  --foreground: #0f172a;
  /* slate-900 */
}

/* Dark Mode Overrides */
.dark {
  --background: #020617;
  /* slate-950 specifically for trading apps usually */
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}